<div class="heading">
  <h1>Books</h1>
</div>

<table class="book-content">
  <tr class="book-content-heading">
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to "Show", book_path(book.id), class: "btn book-btn" %></td>
    <td><%= link_to "Edit", edit_book_path(book.id), class: "btn book-btn" %></td>
    <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn book-btn" %></td>
  <% end %>
  </tr>
  
</table>

<div class="post-content">
<div class="post-heading">
  <h2>New book</h2>
</div>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: books_path, method: :post do |f| %>
<p class="form-title">Title</p>
<%= f.text_field :title %>
<p class="form-title">Body</p>
<%= f.text_area :body %><br>
<%=f.submit 'Create Book',class: "post-btn" %>
<% end %>
</div>